<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.karanraj.speedtracker">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.launcher">
        <activity
            android:name=".MainActivity"
            android:label="@string/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignupActivity"
            android:label="@string/Signup"></activity>
        <activity
            android:name=".TrackingActivity"
            android:label="@string/Tracking_page"></activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/forgotpass"></activity>
        <activity
            android:name=".AboutusActivity"
            android:label="@string/AboutUs"></activity>
        <activity
            android:name=".LogsActivity"
            android:label="@string/Logs"></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/Settings"></activity>
    </application>
</manifest>